/* Theme */

main {
    background: url('../../images/backgrounds/giphy.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    color: #000000;
  }

.icons-social a {
	color: #000000;
}

.icons-social a svg path{
	fill: #000000;
}
