/* Theme */

main {
    background: url('../../images/backgrounds/tumblr_ppyeg9k6c51uxrf48o1_640.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    color: #b6d9bf;
  }

.icons-social a {
	color: #b6d9bf;
}

.icons-social a svg path{
	fill: #b6d9bf;
}
